@model LionsRoarGuild.Models.Post

@{
    ViewBag.Title = "Create";

}

@*<link rel="stylesheet" href="~/Views/Post/PostDesign/description.css">*@


@using (Html.BeginForm())
{
   <div>
    @Html.AntiForgeryToken()

       <div class="form-horizontal">
           <h1>New Post</h1>
           <hr />
           @Html.ValidationSummary(true, "", new { @class = "text-danger" })


           @Html.LabelFor(model => model.MemberName, htmlAttributes: new { @class = "control-label col-md-2" })
           @*@using Microsoft.AspNet.Identity
           @User.Identity.GetUserName()*@
           <div class="col-md-10">
               @Html.EditorFor(model => model.MemberName, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.MemberName, "", new { @class = "text-danger" })
           </div>




           @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
           <div class="col-md-10">
               @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
           </div>
       </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
